<?xml version = "1.0" encoding = "UTF-8"?>
<configuration>
   <appender name = "FILE1" class = "ch.qos.logback.core.FileAppender">
      <File>/var/tmp/mylog1.log</File>
   </appender>  
   <appender name = "FILE2" class = "ch.qos.logback.core.FileAppender">
      <File>/var/tmp/mylog2.log</File>
   </appender>  
   <appender name = "FILE3" class = "ch.qos.logback.core.FileAppender">
      <File>/var/tmp/mylog3.log</File>
   </appender>  
    
   <root level = "INFO">
      <appender-ref ref = "FILE1"/>
   </root>
    <root level = "WARN">
      <appender-ref ref = "FILE2"/>
   </root>
    <root level = "ERROR">
      <appender-ref ref = "FILE3"/>
   </root>
   
</configuration>